.tooltip {
  position: absolute;
  padding: 10px;
  background: #8dcede;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.cell:hover {
  stroke: black;
}

#title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
